body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  background-color: #091516;
  align-items: center;
}

#profile {
  background-image: url(images/nasa_robert_stewart_spacewalk_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(165, 153, 193);
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;  /* Include padding in size calculations */
}

#profile::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(134, 134, 134, 0.311);  /* Adjust opacity here */
  z-index: 1;
  box-sizing: border-box;  /* Include padding in size calculations */
}

/* Ensure content is above the overlay */
#profile > * {
  position: relative;
  z-index: 2;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  /* max-width: 650px; */
}

.grid-item {
  background-color: rgba(153, 181, 193, 0.112);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 500px;
  height: 350px;
  background-size: cover;
  margin: auto;
  border-radius: 5%;
}

.image::before {
  content: "";
  position: relative;
  background-color: rgb(255, 0, 0);  /* Adjust opacity here */
  z-index: 1;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}
