body, html {
    margin: 0;
    height: 100%;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #0a0a0a;

    scroll-behavior: smooth;
}

/* Define Variables */
:root {
    --nav-footer-padding: 10px;
    --nav-footer-total-height: calc(var(--nav-footer-padding) * 2 * 2); /* 2 elements, padding top and bottom */
}

/* Nav and Footer */
nav, footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: var(--nav-footer-padding);
}

nav {
    background-color: #0f0f0f;
    text-align: center;
    font-family: 'Silkscreen';
    padding: 10px 0; /* Vertical padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

nav a {
    color: white; /* Light color for text to contrast the dark background */
    margin: 0 15px; /* Horizontal spacing between nav items */
    text-decoration: none; /* Remove underline from links */
    font-size: 18px; /* Increase font size for better legibility */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav a:hover {
    color: #4e54c8; /* Change color on hover for interactivity */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1); /* Text glow effect on hover */
}

/* Additional styling for footer if needed */
footer {
    background-color: #0f0f0f;
    color: azure;
    text-align: center;
    padding: var(--nav-footer-padding);
}

/* Canvas */
#canvas-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#canvas {
    position: inherit;
    background-color: black;
    height: 100%;
    width: 100%;

    /* stop awkward dragging */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-touch-callout: none; /* iOS Safari */
}

/* Welcome */
#welcome {
    position: absolute;
    z-index: 5;
    color: #e0e0e0;
    text-align: center; /* Center text inside the welcome div */
}

a#intro {
    font-size: 40px;
    font-family: 'Silkscreen';
}

/* Projects Button */
.projects-button-container {
    position: absolute;
    bottom: 20px; /* Distance from bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}

/* Generic Button Container */
.button-container {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0; /* Adjust padding as needed */
}

/* Generic Styled Button */
a.styled-button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #4e54c8, #8f94fb);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
}

a.styled-button:hover {
    background-image: linear-gradient(to left, #4e54c8, #8f94fb);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%) translateY(-2px);
}

#back2top{
    position: relative;
}

section {
    display: block;
    justify-content: center;
    text-align: center;
}

#projects {
    padding-top: 50px;
    padding-bottom: 110px;
}

h2 {
    position: relative;
    font-family: 'Silkscreen';
    color: white;
    z-index: 5;
}

h3 {
    position: relative;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: bold;
    color: aliceblue;
}

p {
    color: aliceblue;
}

.summary {
    text-align: left;
    margin: 10%;
}

/* Grid Below Canvas */
.grid-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

.grid-item {
    background-color: #0e0e0e;
    aspect-ratio: 3 / 2;
}

.grid-item:hover {
    transform: translateX(0px) translateY(-2px);
    transform: scale(1.005);
}

.project-image {
    max-width: 100%;
    height: auto;
    display: block; /* Optional: Ensures the image is a block-level element */
    margin: 0 auto; /* Optional: Centers the image if it's smaller than the container */
    aspect-ratio: 3 / 2;
    border-radius: 5px;
}

/* Contact Me */
.contact {
    position: relative;
    text-align: center;
    padding: 40px 0;
    background-color: #2f2f2f; /* Light background color for the section */
}

.contact-heading {
    font-size: 2em;
    margin-bottom: 40px;
    color: #fafafa; /* Dark color for text */
    font-family: 'Silkscreen';
}

.contact-buttons {
    /* Centering the buttons */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    font-size: 30px; /* Larger icons */
    margin: 0 15px; /* Spacing around icons */
    padding-bottom: 20px;
    color: #fafafa; /* Icon color */
    transition: color 0.3s ease;
}

.contact-icon:hover {
    color: #4e54c8; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge icon on hover */
}

/* mobile response */
@media (max-width: 1000px) {
    nav a, .contact-heading {
        font-size: larger; /* Larger text size for readability */
    }

    /* h2, h3 {
        font-size: 40px;
    } */

    nav {
        font-size: 50px;
    }

    a#intro {
        font-size: 100px;
    }

    p {
        font-size: 32px;
        padding: 0px 24px;
    }

    a.styled-button {
        padding: 12px 24px; /* Larger buttons for easier interaction */
        font-size: 60px; /* Increased font size for buttons */
        width: fit-content;
    }

    /* Adjust padding for grid items if necessary */
    .grid-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Any other responsive adjustments */
}