<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title | default: site.title }}</title>
<meta name="description" content="{{ page.description | default: site.description }}">

<link rel="icon" type="image/x-icon" href="/images/favicon.png">
<link rel="stylesheet" href="/assets/css/style.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" href="/assets/css/orbit-scroll.css?v={{ site.time | date: '%s' }}">
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% if page.three_js %}
<script src="https://unpkg.com/three@0.125.2/build/three.min.js"></script>
<script src="/assets/js/moon-features.js?v={{ site.time | date: '%s' }}"></script>
<script src="/assets/js/moon-drag.js?v={{ site.time | date: '%s' }}"></script>
<script src="/assets/js/vendor/GLTFLoader.js"></script>
<script src="/assets/js/orbit-models.js?v={{ site.time | date: '%s' }}"></script>
<script src="/assets/js/orbit-inspection.js?v={{ site.time | date: '%s' }}"></script>
<script src="/assets/js/orbit-scroll.js?v={{ site.time | date: '%s' }}"></script>
{% endif %}
